logger:
  level: debug
  format: json
connectors:
  - type: github
    id: github
    name: GitHub
    config:
      issuer: https://dex.analect.com
      clientID: 8b34654ac140c3923b30
      clientSecret: $sso:dex.github.clientSecret
      redirectURI: https://dex.analect.com/callback
      orgs:
      - name: analect-io
