connectors:
  - type: github
    id: github
    name: GitHub
    config:
      clientID: $sso:dex.github.clientID
      clientSecret: $sso:dex.github.clientSecret
      orgs:
      - name: analect-io
        teams:
        - sre-team
        - dev-team
staticClients:
  - id: argo-workflows-sso
    name: Argo Workflow
    redirectURIs:
      - https://workflows.analect.com/oauth2/callback
    secretEnv: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
