connectors:
  - type: github
    id: github
    name: GitHub
    config:
      clientID: ea51b681b6e94ecb3c99
      clientSecret: $sso:dex.github.clientSecret
      orgs:
      - name: analect-io
staticClients:
  - id: argo-workflows-sso
    name: Argo Workflow
    redirectURIs:
      - https://workflows.analect.com/oauth2/callback
    secretEnv: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
